body {
    font-family: sans-serif;
    /* changes the font of all the contents in the body to 'sans-serif*/
    background-color: rgb(255, 255, 255);
}

.image {
    width: 80%;
    /* 80% so that when you hover the image it can be 100% to achieve the expanding image*/
    height: 700px;
    /* 700px so that when you hover the image it can be 800px to achieve the expanding image*/
    padding: 3px;
    /* adds a padding to the image*/
    border: 1px solid gray;
    /* adds a gray solid 2px border around the image*/
}

.image:hover {
    width: 100%;
    /*The height of the picture then increases when hovered over*/
    height: 800px;
    /*The width of the picture then increases when hovered over*/
}

.socialMedia li {
    list-style: none;
    /*removes the bullets from the list*/
    margin: 15px;
    /*sets the margin*/
}

.contactHeading {
    position: relative;
    /*the contactHeading is positioned relative to its normal position*/
    left: 56px;
    /* position specification from left*/
}

.navi {
    display: flex;
    /* allows the contents of this class to appear side by side (inline)*/
    border-bottom: 2px solid gray;
    /* adds a solid gray bottom border of 2px*/
    height: 90px;
    /* sets the height */
    margin-bottom: 20px;
    /* adds a bottom margin*/
}

.navi .nav-links li {
    display: inline;
    /* makes the list items of the .nav-links class inside the navi class to 
  display inline*/
    margin: 10px;
    /* adds margin around the list items*/
    position: relative;
    /*The element is positioned relative to its normal position*/
    left: -40px;
    /* position specification from left*/
    top: 25px;
    /*position specification from top*/
    padding: 15px;
    /*padding for the list items*/
    font-size: 20px;
    /*changes the font size*/
}

.active,
.navi .nav-links li:hover {
    background-color: rgb(236, 233, 233);
    /*The contents of the .active class and when you hover
   over the list items of nav-links change the background color */
    border-bottom: 2px solid rgb(255, 0, 0);
    /*adds a solid orangered bottom border of 2px*/
}

.navi .nav-links li a {
    text-decoration: none;
    /*removes the underline in the a tags*/
    color: black;
    /*changes the text color  */
}

.nav-links {
    position: relative;
    /*The nav links is positioned relative to its normal position*/
    left: 200px;
    /* position specification from left*/
}

.bt1,
.bt2 {
    position: relative;
    /*The buttons is positioned relative to its normal position*/
    left: 230px;
    /* position specification from left*/
    top: 15px;
    /* position specification from top*/
    height: 50px;
    /* sets the height of the buttons */
    padding: 5px;
    /* sets the padding of the buttons*/
}

.bt2 {
    border: 2px solid rgb(0, 0, 0);
    /* sets the border */
    color: rgb(0, 0, 0);
    /* sets the text color */
}

.bt2:hover {
    background-color: rgb(0, 0, 0);
    /* The background color of bt2 class is changed when bt2 is hovered over */
    color: rgb(255, 0, 0);
    /* The text color of bt2 class is changed when bt2 is hovered over */
}

.bt1 {
    background-color: rgb(0, 0, 0);
    /* sets the background color */
    color: rgb(255, 255, 255);
}

.bt1:hover {
    background-color: black;
    /* The background color of bt1 class is changed when bt1 is hovered over */
    color: rgb(255, 2, 2);
    /* The text color of bt1 class is changed when bt1 is hovered over */
}

.cart {
    position: relative;
    /*the cart  is positioned relative to its normal position*/
    left: 280px;
    /* position specification from left*/
    top: 15px;
    /* position specification from top*/
    text-decoration: none;
    color: black;
    width: 170px;
    height: 50px;
    padding: 5px;
    text-align: center;
}

.cart:hover {
    background-color: rgb(15, 15, 15);
    border: 2px solid rgb(255, 255, 255);
    /* sets the border */
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 3px;
}

span {
    position: relative;
    /*the span  is positioned relative to its normal position*/
    font-weight: bold;
    /* Makes the contents of span to be bold */
    top: -2px;
    /* position specification from top*/
    margin-left: 5px;
    /* sets the left margin*/
    font-size: 18px;
    /* sets the font size*/
}

.logo {
    position: relative;
    /*the logo  is positioned relative to its normal position*/
    top: 12px;
    /* position specification from top*/
}

.bt3 {
    background-color: rgb(0, 0, 0);
    /* sets the background color*/
    color: rgb(255, 254, 254);
    /* sets the text color*/
    margin-bottom: 30px;
    /* sets bottom margin*/
    padding: 10px;
    /* sets the padding*/
}

.bt3:hover {
    background-color: rgb(0, 0, 0);
    /* The background color of bt3 class is changed when bt3 is hovered over */
    color: rgb(255, 0, 0);
    /* The text color of bt3 class is changed when bt3 is hovered over */
}

.bt4:hover {
    background-color: black;
    color: red;
}

.bt4 {
    background-color: rgb(0, 0, 0);
    /* sets the background color*/
    color: rgb(255, 254, 254);
    /* sets the text color*/
}

.btn {
    padding: 10px;
    /* sets the padding*/
}